<div class="row container">
  <div class="column sidebar">
    <div class="title margin-h">Game<span class="yellow-text">Hub</span></div>
    <div class="column games-list">
      <a [routerLink]="game.link"
      (click)="getSelectedGame(game.link)"
      [ngClass]="[game.link == selectedGame ? 'active-game' : '']"
      class="margin-h game-name"
      *ngFor="let game of gamesLink">
        {{game.name}}
      </a>
    </div>
  </div>
  <div class="column main ">
    <router-outlet></router-outlet>
  </div>
</div>